@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

html {
  scroll-behavior: smooth;
}
.wraper {
  max-width: 1800px;
}

.no-gutters {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
}
.padding {
  padding: 0 0 0 0;
}

.navbar{
  border: 2px outset #1C6EA4;
    border-radius: 19px 0px 19px 0px;
}

.navlogo img{
   
  border-radius: 19px 0px 0px 0px;
 }

.dowland_button{
  background: #5D9C10
}

.dowland_button:hover{
  background: #5D9C10
}

.dowland_button{
  background: #5D9C10;
  box-shadow: 0 8px 6px -6px  #5D9C10;

}

.dow_a a{
  width: 100%;
  padding: 25px;
  transition-duration: 0.5s
  
}


.dow_a a:hover{
  background-color: #f47b20;
  box-shadow: 0 8px 6px -6px #f47b20;
  
}




.logo_footer{
  box-shadow: 0 8px 6px -6px rgb(0, 0, 0);
}


.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after
{
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.effect2:hover{
  background: #5D9C10
}


/*---Media Queries --*/
@media (max-width: 991px) {
  .navbar {
    background-image: url(/Image/header_oswietlenie.jpg);
 
  }
  
  
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}

@media (max-width: 409px) {
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}

/* Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap */

/* Small (sm) devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  
}

/* Medium (md) devices (tablets, 768px and up) */
/* @media (min-width: 768px) { ... } */
/* 
Large (lg) devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  
  
  .navbar{
    background-color: #5D9C10;
  
  }

  
  .nav_a{
    white-space: nowrap;
  }

 

  .dowland{
    margin-top:25px;
    
  }
  .dow_a a{
    width: 100%;
    padding: 35px;
    
    
  }

  
  
    
}

/* Extra (xl) large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) { ... } */

[class*="col-"] {
  padding: 1rem;
}
